<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>멋쟁이사자처럼::todolist with DB, DTO</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>🔐로그인</h1>
<div th:if="${param.registered}" class="success">
  🎈🎈회원가입 완료되었습니다.
  💐💐로그인 해주세요.
</div>
<div th:if="${error}" class="error" th:text="${error}"></div>
<form th:action="@{/login}" th:object="${loginDto}" method="post" class="form-container">
    <div class="form-group">
    <p>
        <label>
            <span>아이디 :</span>
            <input type="text" th:field="*{username}" />
        </label>

        <div class="error" th:text="${#fields.hasErrors('username')} ? ${#fields.errors('username')} : ' '">
    </p>
    </div>
    <div class="form-group">
    <p>
        <label>
            <span>비밀번호 :</span>
            <input type="password" th:field="*{password}" />
        </label>
        <div th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')} : ' '" class="error"></div>
    </p>
    </div>
    <div class="button-group">
        <button type="submit">로그인</button>
        <a th:href="@{/signup}" class="btn">가입하기</a>
    </div>
</form>
</body>
</html>