<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>멋쟁이사자처럼::todolist with DB, DTO</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>🗝️회원가입</h1>
  <div th:if="${error}" class="error" th:text="${error}"></div>
  <form th:action="@{/signup}" th:object="${signupDto}" method="post" class="form-container">
   <div class="form-group">
    <p>
      <label>
        <span>아이디 : </span>
        <input type="text" th:field="*{username}" />
      </label>
      <div class="error" th:text="${#fields.hasErrors('username')} ? ${#fields.errors('username')} : ' '">
      </div>
    </p>
    </div>
    <div class="form-group">
    <p>
      <label>
        <span>비밀번호 : </span>
        <input type="password" th:field="*{password}">
      </label>
      <div class="error" th:text="${#fields.hasErrors('password')} ? ${#fields.errors('password')} : ' '">
      </div>
    </p>
    </div>
    <div class="button-group">
      <button type="submit">가입하기</button>
      <a th:href="@{/login}" class="btn" >로그인</a>
    </div>
  </form>
</body>
</html>